body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

body > * {
    padding: 0px 256px;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
    margin: 0px;
    padding: 0px;
}

.header,
.footer,
.top-holder {
    background-color: #1f2937;
}

.right-li,
.top-heading {
    color: #f9faf8;
}

.header,
.top-text,
.button,
.signup-section,
.bottom-button,
.footer {
    color: #e5e7eb;
}

.random-info,
.quote-container {
    color: #1f2937;
}

.header {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.right-li {
    margin-right: auto;
    font-size: 24px;
}

.top-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 136px;
    padding-bottom: 136px;
    gap: 64px;
}

.top-holder-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-heading {
    font-size: 48px;
    font-weight: 900;
}

.top-text {
    font-size: 18px;
    margin-bottom: auto;
}

.top-image {
    width: 600px;
    height: auto;
}

.button {
    align-self: flex-start;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 136px;
    gap: 40px;
}

.middle-header {
    font-size: 36px;
    font-weight: bold;
}

.middle-image {
    width: 140px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.illustration-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.text_image-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.middle-text {
    text-align: center;
    max-width: 140px;
    flex: 0 1 auto;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    padding: 150px 450px;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 450px;
}

.signup-section {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.signup-text-holder {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.signup-header {
    font-weight: bold;
    font-size: 28px;
}

.signup-text {
    font-size: 18px;
}

.bottom-button {
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid #e5e7eb;
    font-size: 28px;
    font-weight: 600;
    padding: 5px 25px;
}

.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}